
<h2>Soru Oluştur</h2>

<select class="form-control">
    <option>Kategori</option>
</select>
<br/>

<input class="form-control form-control-lg" id="soru" type="text" placeholder="Soru metni">
<br/>
<select class="form-control form-control-sm" id="soruTipi">
    <option value="0">Çoktan seçmeli</option>
    <option value="1"> Açıklamalı</option>
</select>
<br/>
<button type="button" id="Add" class="btn btn-success">Success</button>



<script>

    //soru ekle
    $( "#Add" ).click(function() {

        var objPost = new Object();
        objPost.Sorular = window.$("#soru").val();
        objPost.SoruTipi = window.$('#soruTipi').val();

        console.log(objPost);

        window.$.ajax({
            type: "POST",
            url: "/Soru/AddS",
            dataType: 'JSON',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(objPost),
            success: function (data) {
                console.log(data);
                alert("Kullanıcı adı hatalı");
            },
            error: function (data) {
                alert("Error");
            }
        });
    });
</script>