<h2>Sınav Oluşturma</h2>

<select class="form-control">
    <option>Kategori</option>
</select>
<br />

<input class="form-control form-control-lg" id="sinavAdi" type="text" placeholder="Sınav Adı">
<input class="form-control form-control-lg" id="sinavAciklama" type="text" placeholder="Sınav Açıklaması">
<input class="form-control form-control-lg" id="sinavSure" type="number" placeholder="Sınav Süresi(Dakika Türünde)">
<input class="form-control form-control-lg" id="basari" type="number" placeholder="Başarı Puanı">

<br />
@*HA BURASI GEREKSİZ GİBİ BU EKRAN İÇİN*@
<select class="form-control form-control-sm" id="soruTipi">
    <option value="0">Çoktan seçmeli</option>
    <option value="1"> Açıklamalı</option>
</select>
<br />
<button type="button" id="Add" class="btn btn-success">Success</button>
