@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<input class="form-control form-control-lg" id="soru" type="text" placeholder="Soru metni">
<br/>

<button type="button" id="Add" class="btn btn-success">Success</button>