@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Kategoriler</h2>
<button type="button" id="kategoriListele" class="btn btn-warning">Kategorileri Listele</button>


<script>
    $("kategoriListele").click(function (data) {
        $(this).data("kategoriAdi");
        console.log("veriler");
    });
</script>